body {
    background-color: #d9f1f6;
}

.weather {
    margin: 4em auto;
    width: 50%;
    min-width: 700px;
    max-width: 1000px;
    height: 18em;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 8px -2px rgba(0,0,0,0.5);
}

.transactions {
    margin: 4em auto;
    width: 50%;
    min-width: 680px;
    height: fit-content;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 8px -2px rgba(0,0,0,0.5);
}

.info {
    float: left;
    padding: 40px 40px;
    text-align: left;
    font-family: "Open Sans", Sans-Serif;
    font-size: 1.2em;
}

.degrees {
    float: right;
}

.update {
    float: right;
    padding: 15px 40px 0 0;
    color: #aaa;
    font-size: 1em;
    font-family: "Open Sans", Sans-Serif;
    margin-bottom: .5em;
}

.temperature {
    vertical-align: baseline;
    font-size: 10em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.country {
    font-size: 2.5em;
}

.precipitation {
    font-size: .8em;
    font-weight: bold;
}

.main-info {
    color: #aaa;
}

.deg-char {
    vertical-align: 3em;
    font-size: .2em;
}

tbody th {
    text-align: left;
    padding: .4em 1em;
    border-top: solid 1px gray;
    font-size: 2.8em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

thead th {
    font-size: 2.8em;
    text-align: left;
    padding: .4em 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

